div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}

/* body{
    background-image: url("dog.jpg");
} */

#box1{
    background-image: url("dog.jpg");
    background-size: cover;
}
#box2{
    background-image: url("dog.jpg");
    background-size: contain;
    /* background-repeat: no-repeat; */
}

#box3{
    background-image: url("dog.jpg");
    background-size: auto;
    /* background-repeat: no-repeat; */
}