
div{
    height: 100px;
    width: 100px;
    background: url("dog.jpg");
    background-size: cover;
    color: white;
    position: absolute;
    position: fixed;
    right: 0;
    top: 50px;
}