*{
    color: pink;
}
h1{
    color: green;
}
button{
    color: brown;
}
p{
    color: aqua;
}
#headingone{
    color: yellow;
}
#headingtwo{
    color: chocolate;
}
/* #headingthree{
    color: magenta;
} */
.myclass{
    color: magenta;
}
