.loader{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 20px solid blue;
    border-top: 20px solid black;
    animation: spinAnimate 3s ease-in 0s infinite normal;
}

/* step: 2 animation */

@keyframes spinAnimate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}